@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Quicksand:wght@400;500&display=swap');

body,html{
	background-color: white;
	color: #575757;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	font-size: 100%;
	font-family: quicksand,sans-serif;
}

p{
	margin-top: 2%;
	margin-bottom: 2%;
	font-weight: 300;
}

h1{
	font-weight: 600;
	font-family: quicksands, sans-serif;
	max-width: 100%;
	font-size: 350%;
	margin-top: 5%;
	margin-bottom: 2%;
}

a {
	text-decoration: none;
	color: #575757;
	/**transition: 0.3s;**/
}

.container {
	display: flex; 
	align-items: center; 
	justify-content: center;
	flex-wrap: wrap;
	align-content: center;
}

.row {
	flex-direction: row;
}

.column {
	flex-direction: column;
}

.page-content {
	width:100%;
}

/**Navigation bar**/
#nav{
	left: 0%;
	right: 0%;
	background-color: white;
	position: fixed;
	display: block;
	box-shadow: 2px 1px #aaaaaa;
	/**z-index: 1;**/
}
.nav-item:first-child{
	float: left;
	font-weight: 500;
}

.nav-item {
	color: #2a2d34;
	float: right;
	display: block;
	text-align: center;
	padding: 22px;
	text-decoration: none;
	font-size: 17px;
	font-weight: 500;
}

/**Home section**/

#portfolio-photo {
	width: 500px;
	height: 500px;
}

/**#home-section{
	height: 100vh;
	display: flex; 
	align-items: center; 
	justify-content: center;
	flex-wrap: wrap;
	align-content: center;
	padding:50px;
	padding-bottom: 80px;
	background-color: #474d5a;
}**/

/**About section**/
#about-section {
	height: 100vh;
	display: flex; 
	align-items: center; 
	justify-content: center;
	flex-wrap: wrap;
	align-content: center;
}

#landing-container{
	padding-right: 4%;
}

#landing-text {
	max-width:90%;
	text-align: center;
}

#my-photo {
	height: 650px;
/*	border-radius: 4px;
	box-shadow: 12px 12px 1px #d7d3e7;*/
	overflow-y:hidden;
	margin: 40px;
	margin-top: 20px;
}

/**Education section**/
#education-section {
	padding:50px;
	padding-bottom: 80px;
	min-height:90vh;
	background-color: #474d5a;
}

#text{
	font-family: quicksand, sans-serif;
	color: white;
}
#coursework {
	align-items: flex-start;
	font-size: 120%;
}

#school {
	align-items: flex-start;
}

h2{
	font-size: 200%;
}

h3{
	font-size: 150%;
	margin-top: 0.5px;
	margin-bottom: 0.5px;
}

h4{
	margin-bottom: 1px;
}

h5,h6{
	margin-top: 2px;
	margin-bottom: 2px;
}

li {
	font-size: 90%;
	margin: 5px;
}

#progress {
	font-size: 80%;
}

/**Projects**/

#project-section {
	margin: 50px;
}

#button-section {
	justify-content: center;
	align-items: center;
}

.filter-button {
	border: none;
	outline: none;
	padding: 12px 16px;
	background-color: #f1f1f1;
	cursor: pointer;
	border-radius: 4px;
	margin: 4px;
	transition: 0.3s;
}

.filter-button:hover {
	background-color: #ddd;
}

.filter-button.active {
	background-color: #474d5a;
	color: white;
}

.each-project {
	position: relative;
	height: 350px;
	width: 350px;
	margin: 3%;
	display: none;
}

.show {
	display: block;
  }

.proj-img {
	width: 350px;
	height: 350px;
	border-radius: 6px;
}


.proj-description {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: #F8F8F8;
	color: #fff;
	visibility: hidden;
	opacity: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: opacity .4s, visibility .4s;
}

.each-project:hover .proj-description {
	visibility: visible;
	opacity: 0.9;
}

.proj-description:hover {
	opacity: 1;
}

.img-description {
	transition: .5s;
	color: #575757;
	text-align: center;
	margin-left: 25px;
	margin-right: 25px;
	padding-left: 25px;
	padding-right: 25px;
}

.img-description i, .img-description p, .img-description a {
	font-family: 'Lato', sans-serif;
	text-decoration: none;
	font-weight: 100;
	line-height: 24px;
}

.img-description i {
	font-size: 12px;
}

.img-description:hover {
	opacity: 1;
}



/**Footer**/

#footer {
	height: 6em;
	text-align: center;
	background-color: #F0F0F0;
}

#social-container * {
	padding: 6px;
	margin-bottom: 6px;
}

#social-container a {
	color: #575757;
	transition: .4s;
}

#social-container a:hover {
	color: #8d8d8d;
}

#copyright {
	color: #8d8d8d;
	font-size:14px;
}
