* {
    font-family: 'Varela Round', sans-serif;
}

.tab-container {
  align-items: center;
  text-align: left;
  background-color: var(--navy);
  padding-left: 5%;
  padding-right: 5%;
}

.tabs {
  display: flex;
  position: relative;
}

.tab-item.active {
  opacity: 1;
  background-color: var(--dark-teal);
  border-color: var(--teal);
  color: var(--lightest-slate);
}

.tab-container {
  text-align: left;
  /* margin-top: 100px; */
  width: 100%;
  background-color: var(--navy);
}


.tab-item {
  min-width: 80px;
  padding: 16px 20px 11px 20px;
  /* font-size: 22px; */
  font-size: 1.2rem;
  text-align: center;
  color: var(--teal);
  background-color: var(--navy);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom: 5px solid transparent;
  opacity: 0.6;
  cursor: pointer;
  transition: all 0.5s ease;
}

.tab-item:hover {
  opacity: 1;
  border-color: var(--dark-teal);
}


.tab-content {
  padding: 20px 20px;
}

.tab-pane {
  color: var(--light-slate);
  display: none;
}

.tab-pane.active {
  display: block;
}

.tab-desc {
  list-style: none;
  padding: 0;
  margin: 0;
}

.tab-desc li {
  position: relative;
  padding-left: 30px;
  padding-bottom: 10px;
  /* font-size: 19px; */
  font-size: 1.2rem;
  color: var(--light-slate);
}

.tab-desc li::before {
  content: "▹    ";
  color: var(--teal);
  position: absolute;
  left: 0;
}