/* #globeViz {
    width: 100%;
    height: 100vh;
} */

#globeViz {
    z-index: 1;
    position: absolute;
    top: -100px;
    left: 15.0%;
    width: 25vw;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 80px;
}