/* #globeViz {
    width: 100%;
    height: 100vh;
} */

#globeViz {
    position: fixed;
    top: 0;
    left: 0;
    width: 50vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 80px;
}