:root {
    --white: #FFFFFF;
    --background-color: #FFFFFF;
    --light-navy: #0a051b;
    --lightest-navy: #0f1727;
    --black: #000000;
    --teal: #64CCC5;
    --lighter-teal: #00ffea;
    --sheer-teal: #64ccc58e;
    --teal-sheer: #64ccc59a;
    --dark-teal: #176B87;
    --dark-teal-sheer: #176b87aa;
    --mint: #DAFFFB;
    --slate: #333333;
    --light-slate: #565656;
    --lightest-slate: #777777;

    --card-color: #d3eae9;
    --award-card: #15e4d6;
    --card-icon: #53a9a3;
    --gif-background: #0e0e0e;

    --card-height: 200px;
    --card-width: 200px;

    --surface-color: #fff;
    --curve: 40;
}