#team {
  min-height: 100vh;
}

#team h1 {
  font-family: 'Varela Round', sans-serif;
  color: var(--teal);
  padding-top: 100px;
  padding-bottom: 40px;
}

.team-container {
  /* display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px; */

    display: grid;
    grid-template-columns: repeat(3, minmax(300px, 1fr));
    gap: 1rem;
    margin-left: 10vw;
    /* margin: 4rem 5vw;
    padding: 0;
    list-style-type: none; */
}

@media (max-width: 1000px) {
  .team-container {
    grid-template-columns: repeat(2, minmax(150px, 1fr));
  }
}

@media (max-width: 650px) {
  .team-container {
    grid-template-columns: repeat(1, minmax(150px, 1fr));
  }
}

.member-card {
  display: flex;
  height: 350px;
  width: 280px;
  background-color: var(--card-color);
  color: var(--light-slate);
  border-radius: 20px;
  padding: 20px;
  position: relative; 

  /* display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  margin: 4rem 5vw;
  padding: 0;
  list-style-type: none; */
}

.member-card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1); /* Add a box shadow on hover */
  filter: brightness(1.1); /* Increase brightness on hover */
}

.member-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  transition: transform 0.3s; /* Add transition for smooth animation */
}


.member-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
}

.member-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hover-icons {
  position: absolute;
  bottom: -50px; 
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
  opacity: 0;
  transition: opacity 0.3s;
}

.hover-icons a {
  color: var(--lightest-slate);
  background-color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  transition: background-color 0.3s;
}

.hover-icons a:hover {
  background-color: #555;
}

.member-card:hover .hover-icons {
  opacity: 1;
}

.member-details {
  text-align: center;
  margin-top: 10px;
}

.member-details h3 {
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 5px;
  color: var(--light-slate);
}

.member-details p {
  font-size: 1.1rem;
  color: var(--light-slate);
}

/* .member-content {
  width: 70%;
  text-align: left;
  align-self: center;
}

.member-content p {
  margin-bottom: 10px;
  font-size: 1.1rem;
  color: var(--slate);
} */


