* {
    font-family: 'Varela Round', sans-serif;
}

#home {
    min-height: 100vh;
    font-family: 'Varela Round', sans-serif;
}

#row {
    display: flex;
    justify-content: space-between; /* Divide the screen into two columns */
    align-items: center;
    padding: 20px 0 100px 0;
    background-image: url("../../../public/assets/Chicago1.jpeg"); /* Set the background image */
    background-size: cover;
    background-position: center;

    flex-direction: row;
    width: 100%;
}

/* #col {
    width: 50%;
    padding: 0 50px;
} */

.col {
    display: flex;
    flex-direction: row;
    width: 100%;
}

#leftside {
    width: 80%;
    padding-left: 30px;
    padding-right: 30px;
    position: relative;
    background-color: transparent;
}

#leftside h1 {
    /* font-weight: 700px; */
    font-size: 50px;
    font-style: bold;
    font-weight: bolder;
    letter-spacing: 4px;
    line-height: 1;
    margin-bottom: 20px;
    display: block;
    color: var(--lighter-teal);
    text-shadow: 0 0 6px #000000, 0 0 8px #0000FF;
}

#leftside p {
    font-size: 25px;
    font-style: bold;
    /* bold the text */
    font-weight: bolder;
    letter-spacing: 4px;
    display: flex;
    align-items: center;
    color: var(--slate);
    text-shadow: 0 0 3px #00ffea, 0 0 5px #00ffea;
}

#rightside {
    padding-top: 22%;
    padding-right: 100px;
    position: relative;
    background-color: transparent;
}

@media screen and (max-width: 900px) {
    #row {
        flex-direction: column;
        padding: 20px 0 50px 0;
    }

    .col {
        align-items: center;
        justify-content: center;
    }

    /* #leftside {
        width: 80%;
        padding-left: 30px;
        padding-right: 30px;
        position: relative;
        background-color: transparent;
    } */

    #leftside h1 {
        font-weight: 700px;
        font-size: 40px;
        font-style: bold;
        letter-spacing: 1px;
        line-height: 1;
        margin-bottom: 20px;
        margin-top: 120px;
        display: block;
        color: var(--lighter-teal);
    }

    #leftside p {
        font-size: 20px;
        font-style: bold;
        letter-spacing: 1px;
        display: flex;
        align-items: center;
        color: var(--slate);
    }

    #rightside {
        margin-left: 25%;
        /* padding-top: 30%;
        padding-right: 100px;
        position: relative;
        background-color: transparent; */
    }
}

/* @media screen and (max-width: 400px) {
    #leftside {
        width: 80%;
        padding-left: 30px;
        padding-right: 30px;
        position: relative;
        background-color: transparent;
    }

    #leftside h1 {
        font-weight: 700px;
        font-size: 40px;
        font-style: bold;
        letter-spacing: 1px;
        line-height: 1;
        margin-bottom: 20px;
        display: block;
        color: var(--teal);
    }

    #leftside p {
        font-size: 20px;
        font-style: bold;
        letter-spacing: 1px;
        display: flex;
        align-items: center;
        color: var(--slate);
    }

    #rightside {
        padding-top: 30%;
        padding-right: 100px;
        position: relative;
        background-color: transparent;
    }
} */