* {
    font-family: 'Varela Round', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#home {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#row {
    display: flex;
    justify-content: center; /* Center the content */
    align-items: center;
    padding: 20px;
    background-image: url("../../../public/assets/Chicago1.jpeg"); /* Set the background image */
    background-size: cover;
    background-position: center;
    flex-direction: column; /* Stack elements vertically */
    width: 100%;
    min-height: 100vh; /* Ensure the container takes up full screen height */
}

#leftside {
    width: 100%; /* Ensures full width */
    max-width: 1000px; /* Restrict the maximum width */
    text-align: center; /* Center-align text */
    padding: 30px; /* Add padding for spacing */
    position: relative;
    background-color: transparent;
    margin: 0 auto; /* Center the div horizontally */
}

#leftside h1 {
    font-size: 4vw; /* Responsive scaling */
    font-weight: bolder;
    letter-spacing: 4px;
    line-height: 1.2; /* Adjust spacing between lines */
    margin-bottom: 20px;
    display: block;
    color: var(--lighter-teal);
    text-shadow: 0 0 6px #000000, 0 0 8px #0000FF;
    width: 100%; /* Ensures full width usage */
}

#leftside p {
    font-size: 2vw; /* Responsive scaling */
    font-weight: bolder;
    letter-spacing: 2px;
    display: flex;
    justify-content: center;
    color: var(--slate);
    text-shadow: 0 0 3px #00ffea, 0 0 5px #00ffea;
    width: 100%;
}

@media screen and (max-width: 900px) {
    #row {
        padding: 20px 0;
    }

    #leftside h1 {
        font-size: 6vw; /* Increase text size for smaller screens */
        letter-spacing: 2px;
        margin-top: 20px; /* Add spacing from the top */
    }

    #leftside p {
        font-size: 4vw; /* Adjust paragraph font size */
        letter-spacing: 1px;
    }
}

@media screen and (min-width: 1200px) {
    #leftside h1 {
        font-size: 3vw; /* Reduce size for large screens */
        line-height: 1.1;
    }

    #leftside p {
        font-size: 1.5vw;
    }
}
