.news2-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.twitter-news2 {
  flex: 1;
}

/* The device with borders */
.smartphone2 {
  position: relative;
  width: 330px;
  height: 600px;
  margin: auto;
  border: 16px #373737 solid;
  border-top-width: 60px;
  border-bottom-width: 60px;
  border-radius: 36px;
  margin-top: 110px;
}

/* The horizontal line on the top of the device */
.smartphone2:before {
  content: '';
  display: block;
  width: 60px;
  height: 5px;
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #565656;
  border-radius: 10px;
}

/* The circle on the bottom of the device */
.smartphone2:after {
  content: '';
  display: block;
  width: 35px;
  height: 35px;
  position: absolute;
  left: 50%;
  bottom: -65px;
  transform: translate(-50%, -50%);
  background: #565656;
  border-radius: 50%;
}

/* The screen (or content) of the device */
.smartphone2 .content2 {
  width: 300px;
  height: 480px;
  background: white;
}