#contact {
  min-height: 100vh;
  font-family: 'Varela Round', sans-serif;
}

#contact h1 {
  color: var(--teal);
  padding-top: 100px;
  padding-bottom: 40px;
  text-align: center;
}

.contact-content {
  display: flex;
  flex-direction: row;
}

.map {
    flex: 1;
    margin-left: 60px;
}

.contact-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  color: var(--slate);
  font-size: 1.5rem;
  gap: 20px;
}

.phone, .email, .twitter-link {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    color: var(--slate);
    font-size: 1.5rem;
}

.twitter-link {
  text-decoration: none;
}

.phone i, .email i, .twitter-link i {
  margin-right: 10px;
}

.phone:hover i, .phone:hover span {
  animation: shake 0.5s infinite;
}

.email:hover i, .email:hover span {
  animation: shake 0.5s infinite;
}

.twitter-link:hover i, .twitter-link:hover span {
  animation: shake 0.5s infinite;
}

@keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(-5px); }
  50% { transform: translateX(0); }
  75% { transform: translateX(5px); }
  100% { transform: translateX(0); }
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
