#research {
  background-color: var(--background-color);
  padding-left: 5%;
  padding-right: 5%;
  min-height: 100vh;
}

#research h1 {
  font-family: 'Varela Round', sans-serif;
  color: var(--teal);
  padding-top: 90px;
  padding-bottom: 10px;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(1, minmax(200px, 1fr));
  grid-gap: 40px;
}

@media (max-width: 900px) {
  .projects-grid {
    grid-template-columns: repeat(1, minmax(150px, 1fr));
  }
}

.projects-card {
  display: flex; /* Align children in a row */
  align-items: center; /* Align children vertically in the center */
  justify-content: start; /* Align children to the start of the container */
  cursor: default;
  height: 100%;
  padding: 1rem 1.75rem;
  border-radius: 8px;
  transition: transform 0.5s;
}

#image {
  border-radius: 1px;
  height: 180px;
  width: 180px;
  margin-right: 2px; /* Add some space between the image and the title */
}

.projects-card h5 {
  font-family: 'Varela Round', sans-serif;
  color: var(--light-slate);
  font-size: 1.2rem;
  margin: 0; /* Adjust as needed */
  /* No padding-top is needed if you want to align it with the image vertically */
}

.arrow {
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
}

.arrow i {
  font-size: 24px;
  color: var(--teal); /* Color of the arrow */
  cursor: pointer;
}

@property --rotate {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: false;
}

@keyframes spin {
  0% {
    --rotate: 0deg;
  }
  100% {
    --rotate: 360deg;
  }
}

.card {
  background-color: transparent !important;
  width: 405px;
  height: 205px;
  color: rgb(88 199 250 / 0%);
  cursor: pointer;
  justify-content: center;
  align-items: center;
  padding: 2px;
  border-radius: 50px;
}

a {
  margin: 0px;
}