#research {
    background-color: var(--navy);
}

#research h1 {
    font-family: 'Varela Round', sans-serif;
    color: var(--teal);
    padding-top: 2%;
}

.cards-body {
    background-color: var(--navy);
    margin: 0px;
}

.cards {
    background-color: var(--navy);
    margin: 0px;
}

.card {
    background-color: var(--navy);
}

#image {
    /* height: 10%;
    width: 10%; */
    border-radius: 10px;
    /* border-color: #0e0e0e;
    border-width: 10px;
    border-style: solid; */
}

@property --rotate {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: false;
}

@keyframes spin {
  0% {
    --rotate: 0deg;
  }
  100% {
    --rotate: 360deg;
  }
}

#image:hover {
  color: rgb(88 199 250 / 100%);
  transition: color 1s;
}


.card {
    width: 200px;
    height: 200px;
    margin: 0px;
    /* padding: 3px; */
    /* position: relative; */
    /* border-radius: 50px; */
    /* justify-content: center;
    align-items: center;
    text-align: center; */
    display: flex;
    /* font-size: 1.5em; */
    color: rgb(88 199 250 / 0%);
    cursor: pointer;
    /* font-family: cursive; */
}

a {
    background-color: var(--gif-background);
    margin: 0px;
    /* border-radius: 30px; */
}

.card:hover {
    color: rgb(88 199 250 / 100%);
    transition: color 1s;
}
/* .card:hover:before, .card:hover:after {
  animation: none;
  opacity: 0;
} */

/* .card::before,
.card::after {
  content: "";
  width: 104%;
  height: 102%;
  border-radius: 8px;
  background-image: linear-gradient(
    var(--rotate)
    , #5ddcff, #3c67e3 43%, #4e00c2);
    position: absolute;
    z-index: -1;
    top: -1%;
    left: -2%;
    animation: spin 2.5s linear infinite;
} */


.card:hover::before {
    content: "";
    width: 104%;
    height: 102%;
    border-radius: 8px;
    background-image: linear-gradient(
        var(--rotate)
        , #5ddcff, #3c67e3 43%, #4e00c2);
    position: absolute;
    z-index: -1;
    top: -1%;
    left: -2%;
    animation: spin 2.5s linear infinite;
}

.card:hover::after {
    position: absolute;
    content: "";
    top: calc(var(--card-height) / 6);
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    /* margin: 0 auto; */
    transform: scale(0.8);
    filter: blur(calc(var(--card-height) / 6));
    background-image: linear-gradient(
        var(--rotate)
        , #5ddcff, #3c67e3 43%, #4e00c2);
        opacity: 1;
    transition: opacity .5s;
    animation: spin 2.5s linear infinite;
}