* {
    position: relative;
    z-index: 3;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Varela Round', sans-serif;
}

#logo {
    width: 45px;
    height: 45px;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--background-color);
    padding: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    width: 100%;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a {
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--light-slate);
    transition: 0.3s ease-in-out;
}

#navbar li a:hover,
#navbar li a.active {
    color: var(--teal);
}

#navbar li a:hover::after,
#navbar li a.active::after {
    content: "";
    width: 100%;
    height: 2px;
    background-color: var(--teal);
    position: absolute;
    bottom: -4px;
    left: 0px;
}

/* 
For mobile 
*/

#mobile {
    display: none;
}

#mobile i{
    color: var(--light-slate);
    align-items: center;
    font-size: 25px;
    cursor: pointer;
}

@media screen and (max-width: 1280px) {
    #navbar {
        display: none;
    }

    #mobile {
        display: block;
    }

    #mobile i {
        font-size: 25px;
        cursor: pointer;
    }

    #navbar.active {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 60px;
        right: -300px;
        width: 300px;
        height: 100vh;
        background-color: var(--background-color);
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
        padding: 20px 0 0 10px;
        transition: 0.3s ease-in-out;
    }

    #navbar.active {
        right: 0;
    }

    #navbar li {
        margin-bottom: 25px;
    }

    #navbar li a {
        font-size: 1.3rem;
    }

    #logo {
        height: 40px;
        width: 40px;
    }
}