* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#courses {
  /* min-height: 100vh; */
  font-family: 'Varela Round', sans-serif;
}

#courses h1 {
  color: var(--teal);
  padding-top: 90px;
  padding-bottom: 40px;
  text-align: center;
}

.courses-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  margin: 0 5vw;
  padding: 0;
  list-style-type: none;
}

.courses-card {
  position: relative;
  display: block;
  height: 100%;
  border-radius: calc(var(--curve) * 1px);
  overflow: hidden;
  text-decoration: none;
}

.card__image {
  width: 180%;
  height: auto;
  z-index:1;
}

.card__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  border-radius: calc(var(--curve) * 1px);
  background-color: var(--card-color);
  transform: translateY(100%);
  transition: .2s ease-in-out;
}

.courses-card:hover .card__overlay {
  transform: translateY(0);
}

.card__header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2em;
    padding: 2em;
    border-radius: calc(var(--curve) * 1px) 0 0 0;
    background-color: var(--card-color);
    transform: translateY(-100%);
    transition: .2s ease-in-out;
    min-height: 165px;
}

.card__arc {
  width: 80px;
  height: 80px;
  position: absolute;
  bottom: 99%;
  right: 0;
  z-index: 2;
}

.card__arc path {
  fill: var(--card-color);
  d: path("M 40 80 c 22 0 40 -22 40 -40 v 40 Z");
}

.courses-card:hover .card__header {
  transform: translateY(0);
}

.card__title {
    font-size: 1.2em;
    margin: 0 0 .3em;
    color: var(--light-slate);
}

.card__status {
  font-size: 1.0em;
  color: var(--light-navy);
}

.card__description {
  padding: 0 2em 2em;
  margin: 0;
  color: #D7BDCA;
  font-family: "MockFlowFont";
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

.card__description a {
  color: var(--light-navy);
}
