/* #awards {
    min-height: 100vh;
} */

#awards h1 {
    font-family: 'Varela Round', sans-serif;
    color: var(--teal);
    padding-top: 90px;
}

.awards-container {
    flex: 1;
    margin-right: 50px;
    margin-left: 80px;
}

.award-card {
    margin-top: -25px;
    position: relative;
    width: 100%;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: left;
    border: 2px solid var(--teal);
    transition: transform 0.3s, border-color 0.3s;
    cursor: pointer;
    background-color: var(--teal);
}

.award-card h2 {
    color: var(--mint);
    font-size: 1.8rem;
    padding-bottom: 20px;
}

.award-card p {
  color: var(--slate);
  font-size: 1.2rem;
}

.award-card:hover {
  border-color: var(--teal);
  transform: scale(1.05);
}

@media screen and (max-width: 400px) {
  .award-card h2 {
    color: var(--mint);
    font-size: 1.0rem;
    padding-bottom: 10px;
  }

  .award-card p {
    color: var(--slate);
    font-size: 0.8rem;
  }
}
